html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

a {
  text-decoration: none;
}

/*  BUTTON STYLING BY SIZE */

.btn-regular {
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  border-radius: 8px;
}

.btn-small {
  font-size: .875rem;
  padding: .4em .75em .3em;
  border-radius: 8px;
}

.btn-big {
  font-size: 1.5rem;
  padding: .4em .75em .3em;
  border-radius: 8px;
}

/*  INDIVIDUAL BUTTON STYLE */

.btn {
  color: #fff;
  background-color: #333;
}

.btn-subtle {
  color: #fff;
  background-color: #ccc;
}

.btn-ghost {
  color: #333;
  border: 3px solid #333;
}

.btn-warning {
  color: #fff;
  background-color: #f33;
}

/*  BUTTON HOVER STATE */

.btn:hover {
  background-color: #000;
}

.btn-subtle:hover {
  background-color: #333;
}

.btn-ghost:hover {
  background-color: #333;
  color: #fff;
}

.btn-warning:hover {
  background-color: #933;
}
